document.getElementById("records").innerHTML = `
<table class="min-w-full divide-y divide-gray-300">
    <thead>
    <tr>
        <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6 md:pl-0">Localitate spital</th>
        <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6 md:pl-0">Denumire spital</th>
        <th scope="col" class="py-3.5 px-3 text-left text-sm font-semibold text-gray-900">CNP Pacient</th>
        <th scope="col" class="py-3.5 px-3 text-left text-sm font-semibold text-gray-900">Diagnostic internare</th>
        <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6 md:pr-0">
        <span class="sr-only">Modifica</span>
        </th>
    </tr>
    </thead>
    <tbody class="divide-y divide-gray-200">
    <%= render @records %>
    </tbody>
</table>
`